.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 0.5em;
}
.next{
    height: 30px;
    width: auto;
    cursor: pointer;
    transition: all 0.4;
}
.prev{
    height: 30px;
    width: auto;
    cursor: pointer;
    transition: all 0.4;
}
.prev:hover{
    transform: scale(1.2)
}
.next:hover{
    transform: scale(1.2)
}
